# TWV_PCB_0_6 board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_TWV_PCB_0_6

config BOARD
	default "twv_pcb_0_6"

config BT_CTLR
	default BT

endif # BOARD_TWV_PCB_0_6
